.MyPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: var(--bg-color);
}

.MyPage .MyPage-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.MyPage .MyInfo-container {
  height: 350px;
}
