.ShelterInfoIMG {
  width: 100%;
  max-width: 300px;
  height: auto;
  margin: 0 auto 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ShelterInfoIMG img {
  width: 100%;
  height: auto;
  max-height: 250px;
  object-fit: contain;
  border-radius: 12px;
 
}